.button {
  min-width: 260px;
  padding: 10px 32px;

  font-family: $font-family;
  font-size: 35px;

  background-color: $light;
  border: 2px solid black;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    padding: 12px 32px 8px;

    background-color: $light-2;
  }

  &--navigation {
    min-width: unset;
    padding: 5px 15px;

    font-size: 16px;

    border: none;

    &:hover {
      background-color: $light-2;
    }

    &:active {
      padding: 6px 15px 4px;

      background-color: $light-3;
    }
  }

  &--sound {
    min-width: unset;
    padding: 4px 10px;

    font-size: 12px;
    line-height: 1;

    border: none;

    :hover {
      background-color: $light-2;
    }

    &:active {
      padding: 5px 10px 3px;

      background-color: $light-3;
    }
  }

  &--period {
    padding: 3px 10px;

    border: 1px solid $grey;

    &:active {
      padding: 4px 10px 2px;
    }
  }

  &--finish {
    min-width: unset;
    padding: 5px 20px;

    font-size: 14px;

    border: 1px solid $grey;

    @include transition(0.1s);

    :hover {
      background-color: $light-2;
    }

    &:active {
      padding: 6px 20px 4px;

      background-color: $light-3;
    }

    &:disabled {
      color: $black;
      opacity: 0.3;
      cursor: default;
    }
  }

  &--defaults {
    min-width: unset;
    padding: 5px 20px;

    font-size: 14px;

    border: none;

    :hover {
      background-color: $light-2;
    }

    &:active {
      padding: 6px 20px 4px;

      background-color: $light-3;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
