// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$widescreen-width: 1440px;

// Colors

$white: #ffffff;

$light: #eeeeee;
$light-2: #e8e8e8;
$light-3: #e0e0e0;

$grey: #888888;

$black: #000000;

$transparent: transparent;

$blue: #000599;
$green: #0a7300;

// Miscellaneous

$font-family: "RobotoMono", "Arial", sans-serif;

$default-transition-time: 0.2s;
